{%- include assign.liquid -%}

{%- if contents.maintenance.enable == false -%}
  {%- assign column_brand = "col-12 col-md-3 mb-3" -%}
  {%- assign column_legal = "col-6 col-md-3 mb-3" -%}
{%- else -%}
  {%- assign column_brand = "col-10" -%}
  {%- assign column_legal = "col-2" -%}
{%- endif -%}

<footer class="py-5 mt-auto {{ include.class }}">
  <div class="container">
    <div class="row">
      <!-- Brand -->
      <div class="{{ column_brand }}">
        <a
          href="{{ '/' | relative_url }}"
          class="d-inline-flex align-items-center mb-2 text-dark text-decoration-none {{ include.class }}-brand"
        >
          {%- if page.url contains "seedctl" -%}
            {%- assign brand = contents.brand.light -%}
          {%- else -%}
            {%- assign brand = contents.brand.dark -%}
          {%- endif -%}

          <img
            src="{{ brand | relative_url }}"
            width="50"
            alt="{{ contents.title.static }}"
          />
          <span class="{{ include.class }}-brand__text">
            {{ contents.title.first }}<span class="{{ include.class }}-brand__highlight"
              >{{ contents.title.second }}</span
            >
          </span>
        </a>

        <p class="text-muted {{ include.class }}-description">{{ contents.description }}</p>

        <p class="text-muted mb-1 {{ include.class }}-contact--message">{{ contents.footer.contact.message }}</p>

        <ul class="list-unstyled d-flex mb-2">
          {% assign socials_links = contents.socials.links %} {% for item in
          socials_links %}
          <li class="me-3">
            <a
              class="text-muted {{ include.class }}-links {{ include.class }}-socials"
              href="{{ item.url }}"
              title="{{ item.title }}"
              target="_blank"
            >
              <i class="{{ item.icon }}"></i>
            </a>
          </li>
          {% endfor %}
        </ul>

        <p class="text-muted mb-0 {{ include.class }}-email--title">
          E-mail:
          <a class="text-muted {{ include.class }}-links" href="mailto:{{ contents.email }}">
            {{ contents.email }}
          </a>
        </p>
      </div>

      <!-- Navigation -->
      {%- if contents.maintenance.enable == false -%}
      <div class="col-6 col-md-3 mb-3">
        <h5>Navigation</h5>
        {% assign links = contents.nav %}
        <ul class="nav flex-column">
          {% for item in links %}
          <li class="nav-item mb-2">
            <a
              class="nav-link p-0 text-muted {{ include.class }}-links"
              href="{{ item.href | relative_url }}"
            >
              {{ item.label }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {%- endif -%}

      <!-- Projects -->
      {%- if contents.maintenance.enable == false -%}
      <div class="col-6 col-md-3 mb-3">
        <h5>Project</h5>
        <ul class="nav flex-column">
          {% for project in contents.projects.featured %}
          <li class="nav-item mb-2">
            <a
              href="{{ project.url }}"
              class="nav-link p-0 text-muted {{ include.class }}-links">
              {{ project.name }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {%- endif -%}

      <!-- Legal -->
      <div class="{{ column_legal }}">
        <h5>Legal</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a
              href="{{ '/legal/privacy' | relative_url }}"
              class="nav-link p-0 text-muted {{ include.class }}-links"
            >
              Privacy Policy
            </a>
          </li>

          <li class="nav-item mb-2">
            <a
              href="{{ '/legal/terms' | relative_url }}"
              class="nav-link p-0 text-muted {{ include.class }}-links"
            >
              Terms of Service
            </a>
          </li>

          <li class="nav-item mb-2">
            <a
              href="{{ '/legal' | relative_url }}"
              class="nav-link p-0 text-muted {{ include.class }}-links"
            >
              Legal Information
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Bottom Bar -->
    <div class="d-flex justify-content-center pt-4 mt-4 border-top {{ include.class }}-bottom">
      <p class="text-muted text-center mb-0">
        © {{ current_year }} {{ contents.title.static }}. Created by
        <a
          class="text-muted {{ include.class }}-links"
          href="{{ contents.organization.author.url }}"
          target="_blank"
          >{{ contents.organization.author.name }}</a
        >.
      </p>
    </div>
  </div>
</footer>
