{%- include assign.liquid -%}

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {%- if page.url == "/" -%}
  <title>
    {{ contents.title.static | replace: "/", "" | default: contents.title.static }} | {{
    site.baseurl | prepend: site.url }}
  </title>
  {%- else -%}
  <title>
    {{ page.title  }} | {{ contents.title.static |
    default: contents.title.static }}
  </title>
  {%- endif -%} {% include seo.html %}
  <script src="{{ '/assets/js/no_inframe.js' | relative_url }}"></script>
  <meta http-equiv="Content-Security-Policy"
    content="
      default-src 'self';
      img-src 'self' data: {{ contents.csp.img-src | join: ' ' }};
      script-src 'self' {{ contents.csp.script-src | join: ' ' }};
      style-src 'self' 'unsafe-inline' {{ contents.csp.style-src | join: ' ' }};
      font-src 'self' {{ contents.csp.font-src | join: ' ' }} data:;
      connect-src 'self' {{ contents.csp.connect-src | join: ' ' }};
      frame-src {{ contents.csp.frame-src | join: ' ' }};
      object-src 'none';
      base-uri 'self';
      form-action 'self';
  ">
  <!-- ⚠️ CSP,HSTS,COOP and enabled in the theme, remember to also configure it in Cloudflare or your server -->
  <meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains; preload">
  <meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin">
  <meta http-equiv="Cross-Origin-Embedder-Policy" content="require-corp">
  <!-- ⚠️ CSP,HSTS,COOP enabled in the theme, remember to also configure it in Cloudflare or your server -->


  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="{{ contents.fonts_url }}" rel="stylesheet" />
  <link rel="icon" type="image/png" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <link rel="apple-touch-icon" href="{{ '/assets/images/favicon.png' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/vendors/bootstrap-5.3.8/css/bootstrap.min.css' | relative_url }}" />
  <link href="{{ contents.icons_url }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />
</head>
