@use "data" as data;
@use "base";
@use "includes";
@use "layouts";
@use "page";

:root[data-theme="static"] {
  --bg-color: #{data.data(bg-color, static)};
  --bg-footer: #{data.data(bg-footer, static)};
  --color-text: #{data.data(color-text, static)};
  --color-links: #{data.data(color-links, static)};
  --primary-color: #{data.data(primary-color, static)};
  --secondary-color: #{data.data(secondary-color, static)};
  --font-family-primary: #{data.data(font-family-primary, static)};
  --font-family-secondary: #{data.data(font-family-secondary, static)};
  --font-family-tertiary: #{data.data(font-family-tertiary, static)};
  --icon-seedctl: #{data.data(icon-seedctl, static)};
}
