@use "../components/index";

// Footer All
.footer-default, .footer-seedctl {
  position: relative;
  font-size: .8rem !important;

  &-links {
    &:hover {
      color: var(--color-links) !important;
    }
  }

  &-socials {
    font-size: 1.2rem;
  }

  &-description {
    margin-top: 5px;
  }

  &-brand {
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    &__text {
      margin-left: 60px;
      margin-top: 35px;
      font-size: 1.3rem;
      position: absolute;
    }

    &__highlight {
      transition: color .2s ease;
    }

    &:hover .footer-brand__highlight {
      color: var(--color-links);
    }
  }

  > * {
    position: relative;
    z-index: 1;
  }

  .border-top {
    border-top: 1px solid #a8a8a8 !important;
  }

  a[target="_blank"]::after {
    content: "" !important;
  }
  a{
    text-decoration: underline !important;
  }
}

// Footer Default
.footer-default {
  background: #04080d;
  border-top: 1px solid hsla(165.8, 71.8%, 48.6%, 0.37);
  * {
    color: #e9e9e9 !important;
  }
  &-links {
    &:hover {
      color: var(--color-links) !important;
      i {
        color: var(--color-links) !important;
      }
    }
  }
}

// Footer SeedCTL
.footer-seedctl {
  background: linear-gradient(to bottom, rgba(6, 11, 16, 0.95), rgba(6, 11, 16, 0.72));
  backdrop-filter: blur(8px);
  border-top: 1px solid hsla(165.8, 71.8%, 48.6%, 0.37);

  * {
    color: #e9e9e9 !important;
  }
  &-links {
    &:hover {
      color: var(--color-links) !important;
      i {
        color: var(--color-links) !important;
      }
    }
  }
}

// Footer Legal
.footer-legal {}
