
.footer-seedctl {
  background: linear-gradient(to bottom, rgb(1, 6, 11), rgba(0, 0, 0, 0.94)),repeating-linear-gradient(0deg, rgba(121, 247, 255, 0.03) 0, rgba(121, 247, 255, 0.03) 1px, transparent 1px, transparent 4px);
  border-top: 1px solid rgba(121,247,255,.15);

  color: rgb(210, 210, 210) !important;
  &-links, &-description, &-brand__text, &-contact--message, &-email--title, &-bottom p {
    color: white !important;
  }
}
