.navbar-seedctl {
  height: 44px;
  width: 100%;
  z-index: 9999;
  background: linear-gradient(to bottom, rgba(6, 11, 16, 0.95), rgba(6, 11, 16, 0.72));
  backdrop-filter: blur(8px);
  border-bottom: 1px solid rgba(121,247,255,.15);

  .brand {
    .brand-highlight {
      transition: color .5s ease;
    }

    &:hover .brand-highlight {
      color: cyan;
    }
  }

  .navbar-inner {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      color: white;
    }
  }

  .nav-right {
    a {
      transition: color .5s ease;
      &:hover {
        color: cyan;
      }
    }
  }
}
