<nav class="navbar-{{ include.page }} fixed-top">
  <div class="container navbar-inner">
    <div class="nav-left">
      <a href="{{ '/' | relative_url }}" class="brand">
        <img src="{{ contents.brand.light | relative_url }}" width="28" alt="{{ contents.title.static }}">
        <span class="brand-text">
          {{ contents.title.first }}<span class="brand-highlight">{{ contents.title.second }}</span>
        </span>
    </a>
    </div>
    <div class="nav-right d-none d-lg-flex">
      {% assign links = site.data[include.page].nav %}
      {% for item in links %}
        {%- if item.url == true -%}
          <a href="{{ item.href | relative_url }}"><img style="margin-top: -3px;" src="{{ item.icon | relative_url }}" alt="{{ item.label }}" width="20">{{ item.label }}</a>
        {%- else -%}
          <a href="{{ item.href | relative_url }}"><i class="{{ item.icon }}">&nbsp;</i>{{ item.label }}</a>
        {%- endif -%}
      {% endfor %}
    </div>
    <div class="nav-mobile d-lg-none">
      <button class="menu-btn" data-bs-toggle="offcanvas" data-bs-target="#ebMenu">
        <i class="bi bi-list"></i>
      </button>
    </div>
  </div>
</nav>


<div class="offcanvas offcanvas-top eb-offcanvas d-lg-none" tabindex="-1" id="ebMenu">
  <div class="offcanvas-body">
    <ul class="mobile-list">
      {% for item in contents.seedctl.nav %}
        <li><a href="{{ item.href | relative_url }}">{{ item.label }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
